*{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body{
	font: 11px/16px Arial, sans-serif;
	color: #333;
}

h2 a{
	font-size: 14px;
	font-weight: bold;
}

#claim{
	width: 100%;
	height: 325px;
	background: #eee;
	position: relative;
	overflow: hidden;
}

#claim canvas{
	position: absolute;
	z-index: 1;
}
#claim img{
	width: 106%;
	height: 106%;
	-webkit-filter: blur(11px);
	margin-left: -3%;
	position: absolute;
}

a:active,a:target{
	color:orange;
}

#toc{
	margin: 10px 0;
}

#toc ul{
	margin-left: 10px;
}

#toc ul li a{
	cursor: pointer;
	text-decoration: underline;
}