* { 
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body {
	font: 11px/16px Arial, sans-serif;
	color: #333;
    padding-top: 50px;
    padding-bottom: 40px;
}

p {
	font-size: 14px;
	line-height: 20px;
}

.sidebar-nav {
	padding: 9px 0;
}

@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
  		float: none;
  		padding-left: 5px;
  		padding-right: 5px;
	}
}

h2 a {
	font-size: 14px;
	font-weight: bold;
}

.navbar .brand {
  width: 200px;
  height: 30px;
  background: url(../img/caplinlabslogo.png) no-repeat 0 10px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 0;
}

.nav {
	top: 6px;
}

.nav li a {
	font-weight: bold;
	font-size: 13px;
}

#home-content {
	position: relative;
}

#claim{
	width: 100%;
	height: 325px;
	opacity: .15;
}

#marketing {
	position: absolute;
	height: 325px;
	top: 0px;
	margin: 80px 0;
	text-align: center;
}

.middle {
	background-color: #EEE;
}

.bottom {
	background-color: #DDD;
}

a:active,a:target{
	color:orange;
}

#toc{
	margin: 10px 0;
}

#toc ul{
	margin-left: 10px;
}

#toc ul li a {
	cursor: pointer;
	text-decoration: underline;
}

.nav-header {
	text-transform: none;
}

.copyright {
	margin-top: 7px;
	margin-right: 27px;
}
table.args{
	margin-bottom: 14px;
	width: 100%;
}
table.args td{
	padding: 2px;
	border-bottom: 1px solid #ccc;
}

table.args td.argument{
	font-weight: bold;
	width: 20%;
}

table.args td.type{
	width: 30%;
}